.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);

}
.modal__content{
    width: 250px;
    height: 250px;
    border-radius: 25px;
    padding:25px;
    background-color: red;

}
.modal__active{
    display: flex;
    justify-content: center;
    align-items: center;
}